﻿<h1>REGISTRARSE</h1>

<h2 class="text-danger">@ViewData["MENSAJE"]</h2>

<form method="post" class="row gap-2" enctype="multipart/form-data">
    <label class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label class="form-label">Apellido</label>
    <input type="text" name="apellido" class="form-control" />
    <label class="form-label">Email</label>
    <input type="text" name="email" class="form-control" />
    <label class="form-label">Password</label>
    <input type="text" name="password" class="form-control" />
    <label class="form-label">Foto</label>
    <input typ="file" name="file" class="form-control" />
    <button class="btn btn-outline-primary mt-3 w-100">Registrarse</button>
</form>